name: build

on:
  push:
    branches:
    - '*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: 25
        registry-url: https://npm.pkg.github.com/
    - run: npm i
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: tsc
    - name: Docker login
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Docker
      uses: docker/setup-buildx-action@v3
    - name: Publish Docker image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ghcr.io/open-game-server-host/app-archive:${{ github.ref_name }}
